body {font: 12px Tahoma, Arial, Helvetica, sans-serif;margin: 0;padding: 0;color: #293c27;width: 100%;  height: 100%;}

.main-affiliate{
    height: 15px;
    clear: both;
}

.cell-button-element {
    width: 70px;
    padding:5px;
    float: left;
}
.cell-element {
    width: 150px;
    padding:5px;
    float: left;
}
.cell-amount-element {
    width: 60px;
    padding:5px;
    float: left;
}

.border3 {
    border-width: 3px;
    border-style: solid;
    border-color: darkred;
}

table {
    border: 1px solid #69c;
}
th {
    font-weight: normal;
    /*color: #039;*/
    padding: 10px;
}
td {
    /*color: #669;*/
    border-top: 1px dashed #fff;
    padding: 10px;
    background:#ccddff;
    min-height: 12px;
}

.line_tr td, .line_tr2 td {font-size:11px;padding:1px 4px 2px;vertical-align:middle;text-align:center;}
.green_buts .but_2 {width:auto;padding-left:2px;padding-right:2px;overflow:visible;font-size:11px;font-weight:normal;padding-top:1px;padding-bottom:1px;}
tr:hover td {
    background:#99bcff;
}

/*tr.zero {*/
    /*display:table-row;*/
/*}*/

.hide-zero .zero {
    display: none;
}

h3 {
    cursor: pointer;
}